body {
   background-color:#ccc

}
h1 {
   
   font-weight: lighter;
   font-style: italic;
   font-family: Georgia, 'Times New Roman', Times, serif;
   line-height: 20px;
   color:rgb(133, 42, 106);
   text-align: center;
   
   
   
}

h2 {
   color: blue;
   font: size 5px;
   text-align: left;
   font-weight: bold;
   font-style: normal;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
   font-style: italic;
   font-size: larger;
   font-weight: 500;
}

a {
   color: blue;
   font-weight: bold;
}

h3 {
   color: blue;
   text-align: left;
   font-size: 25px;
   font-weight: bold;
   font-style: normal;
   font-family: Georgia, 'Times New Roman', Times, serif;

}

h4 {
   color: blue;
   text-align: left;
   font-size: 25px;
   font-weight: bold;
   font-style: normal;
   font-family: Georgia, 'Times New Roman', Times, serif;

}

