@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:ital,wght@0,700;1,400&display=swap');

body{
    padding: 100px;
    font-family: 'Roboto', sans-serif;
    background: url(https://images.unsplash.com/photo-1618123069754-cd64c230a169?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80)
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.container {
    width: 800px;
    min-height: 700px;
    border: 10px solid #fff;
    margin:auto;
    background: #fff;
}
.header {
    display: flex;
    height: 200px;
}
.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
    font-size: 30px;
    background: url(https://images.unsplash.com/photo-1629194898512-b6b8697063ac?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1431&q=80) no-repeat center center / cover;
    color: #fff; 
    margin-right: 10px;
}

.userpic{
    display: flex;
    width: 20%;
    height: 100%;
    background: url(https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80) no-repeat center center / cover;

}
.nav ul {
display: flex;
background: #d1d1d1;
margin: 10px 0;
}

.nav li a {
    display: flex;
    padding: 20px;
    text-decoration: none;
    color: #404040;
    font-size: bold;
    border-right: 1px solid #919191;
    transition: background 1s ease;
}
.nav li a:hover {
    background: #bebaba;

}

.content wrapper {
    display: flex;
}

.content {
padding: 10px;
width: 70%;
}

.sidebar {
padding: 10px;
width: 30%;
}

.skills li {
    padding: 10px 0;
    transition: transform .5s ease;
    cursor: pointer;
}

.skills li :hover {
    transform: translateY(10px);
}
