h1 {
    font-size: 60px;
    text-align: center;
  }
  
p, li, {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
  }

h2 {
    font-size: 30;
    line-height: 2;
    letter-spacing: 1px;
  }

html {
    background-color: bisque;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #bb8840;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
  }

